<div class="home-container">
  <main class="main-grid">
    <section class="grid-card" id="characters">
      <article class="card-content">
        <h1 class="card-content__title">MARVEL CHARACTERS</h1>
        <h3 class="card-content__description">
          Get hooked on a hearty helping of heroes and villains from the humble
          House of Ideas!
        </h3>
      </article>

      <footer class="grid-card__footer">
        <a class="grid-card__footer__readMore" routerLink="/characters">
          Read more
          <svg-icon
            svgClass="grid-card__footer__readMoreIcon"
            src="assets/arrow-forward.svg"
          ></svg-icon>
        </a>
      </footer>
    </section>

    <section class="grid-card" id="comics">
      <article class="card-content">
        <h1 class="card-content__title">COMICS</h1>
      </article>

      <footer class="grid-card__footer">
        <a class="grid-card__footer__readMore" routerLink="/comics">
          Read more
          <svg-icon
            svgClass="grid-card__footer__readMoreIcon"
            src="assets/arrow-forward.svg"
          ></svg-icon>
        </a>
      </footer>
    </section>

    <section class="grid-card" id="series">
      <article class="card-content">
        <h1 class="card-content__title">SERIES</h1>
        <h3 class="card-content__subtitle">
          Journey into the cosmic depths of the mighty Marvel Cinematic
          Universe!
        </h3>
      </article>

      <footer class="grid-card__footer">
        <a class="grid-card__footer__readMore" routerLink="/series">
          Read more
          <svg-icon
            svgClass="grid-card__footer__readMoreIcon"
            src="assets/arrow-forward.svg"
          ></svg-icon>
        </a>
      </footer>
    </section>
  </main>
</div>
