@import 'variables';
@import 'typography';

#marvel-footer {
  background-color: color('neutral-low-pure-dark');

  .marvel-footer-toolbar {
    display: grid;
    place-items: center;
    gap: rem(16px);
    grid-template-columns: 1fr auto;
    min-height: 64px;
    padding: rem(16px) rem(32px);

    a {
      @include paragraph();
      color: color('neutral-low-pure-medium');
      transition: 0.3s ease;

      &:hover {
        color: color('brand-secondary-pure');
      }
    }

    &__logo {
      justify-self: center;

      svg-icon svg {
        width: rem(24px);
        height: auto;
      }
    }
  }
}
